$header-col: #5a3e85;
$canvas-col:  #0e9dd9;
$inactive-col: #fafafa;
$online-col: pink;
$offline-col: purple;

%flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

body {
    background-color: $canvas-col;
    margin: 0;
}

header, nav {
    padding: 1rem;
    min-height: 40px;
    background-color: $header-col;
    font-family: 'Droid Sans', sans-serif;
}

nav {
    padding: 0;
}

header {
    color: $inactive-col;
    font-size: 3.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}


li {
    
    
    }

ul {
    @extend %flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: stretch;
}

.tab {
  flex-basis: 4rem;
  font-size: 1.3em;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: $inactive-col;
  padding: 1em;
  border: 1px solid black;
  border-bottom: 0;
  background-image:
    linear-gradient(
      to top,
      rgba(50, 50, 50, 0.6),
      $inactive-col 10%
    );
  &:hover { 
      background-color: lighten($canvas-col, 25%);
      background-image:
        linear-gradient(
        to top,
        rgba(50, 50, 50, 0.6),
        lighten($canvas-col, 25%) 10%
    );
  }
  
}

.active-tab {
    background-color: $canvas-col;
    background-image: none;
    box-shadow: -5px 0px 3px -3px rgba(50, 50, 50, 0.6);
    &:hover { 
      background-color: $canvas-col;
      background-image: none;
    }
    &+li {
        box-shadow: inset 2px 0px 8px -1px rgba(50, 50, 50, 0.6);
        &:hover { 
            box-shadow: inset 1.5px 0px 8px -2px darken($inactive-col, 65%);

        }
    }
}

